{% extends 'base.html' %}

{% block page-header %}
Creating an event!
{% endblock %}

{% block content %}
  <script>
    $(function() {
      $( "#id_when" ).datepicker();

      var get = window.location.search.replace( "?", "" );
      if(get != "") {
        var location = get.split("=")[1];
        $("#id_where").val(unescape(location));
      }
    });
  </script>
        <form class="form-horizontal" method="post" action="">
    
          {% csrf_token %}
            <div class="control-group">
                <b style="color: red"></b>
                <label for="id_group" class="control-label">Group</label>
                <div class="controls">
                    {{ form.group }}
                </div>
                
            </div>
        
            <div class="control-group">
                <b style="color: red"></b>
                <label for="id_when" class="control-label">Date</label>
                <div class="controls">
                    <input id="id_when" name="when" placeholder="click here:" type="text" />
                </div>
                
            </div>
        
            <div class="control-group">
                <b style="color: red"></b>
                <label for="id_where" class="control-label">Location</label>
                <div class="controls">
                    <input id="id_where" maxlength="255" name="where" type="text" />
                </div>
                
            </div>
	
	<br />        
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn" onclick="javascript:history.go(-1)">Cancel</button>
    </form>
{% endblock %}

{% block extra-head %}
  <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>
  <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
{% endblock %}
