{% extends 'base.html' %}

{% block extra-head %}
<style type="text/css">
	#map-canvas { height: 300px; }
	#map-canvas2 { height: 300px; }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1IdBMF8aX6BZUbWL5pHWZ3DAq1dETL_g&sensor=false"></script>
<script type="text/javascript">
		var map;
		var map2;
		var markers = [];
		var centerLat = null;
		var centerLon = null;
		var infowindow = new google.maps.InfoWindow();
		var infowindow2 = new google.maps.InfoWindow();
		
		if (param("radius") != null) {
			radius = parseInt(param("radius"));
		} else {
			var radius = 32;
		}
		
      function initialize() {
		$.getJSON("https://maps.googleapis.com/maps/api/geocode/json?sensor=false&address=" + param("zip"), function(data) {
			console.log(data);
			centerLat = data.results[0].geometry.location.lat;
			centerLon = data.results[0].geometry.location.lng;
			var mapOptions = {
			  center: new google.maps.LatLng(centerLat, centerLon),
			  zoom: 10
			};
			map = new google.maps.Map(document.getElementById("map-canvas"),
				mapOptions);
			map2 = new google.maps.Map(document.getElementById("map-canvas2"),
				mapOptions);

			
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(centerLat, centerLon),
				animation: google.maps.Animation.DROP,
				title: "Me",
				icon: "{{ STATIC_URL }}img/maps_markers/person.png"
			});
			
			var contentString = "<div>Me</div>";
				infowindow = new google.maps.InfoWindow({
					content: contentString
				});
				infowindow.open(map, marker);
			
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.close();
				var contentString = "<div>Me</div>";
				infowindow = new google.maps.InfoWindow({
					content: contentString
				});
				infowindow.open(map, marker);
			});
				
			marker.setMap(map);

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(centerLat, centerLon),
				animation: google.maps.Animation.DROP,
				title: "Me",
				icon: "{{ STATIC_URL }}img/maps_markers/person.png"
			});
			
			var contentString = "<div>Me</div>";
				infowindow2 = new google.maps.InfoWindow({
					content: contentString
				});
				infowindow2.open(map2, marker);
			
			google.maps.event.addListener(marker, 'click', function() {
				infowindow2.close();
				var contentString = "<div>Me</div>";
				infowindow2 = new google.maps.InfoWindow({
					content: contentString
				});
				infowindow2.open(map2, marker);
			});
			marker.setMap(map2);
				
			loadAdditionalData();
			
		});

      }
      google.maps.event.addDomListener(window, 'load', initialize);
	  
	  function loadAdditionalData() {
		  //if (param("type").indexOf("parks") != -1) {
			  $.getJSON("{{ STATIC_URL }}json/state_parks.json", function(data) {
				$.each(data.data, function(index, elem) {
					if (getDistanceFromLatLonInKm(centerLat, centerLon, elem[21], elem[20]) < radius) {
						var latLng = new google.maps.LatLng(elem[21], elem[20]); 
						// Creating a marker and putting it on the map
						var marker = new google.maps.Marker({
							position: latLng,
							animation: google.maps.Animation.DROP,
							title: elem[8] + " " + elem[9],
							icon: "{{ STATIC_URL }}img/maps_markers/darkgreen_MarkerP.png"
						});
						
						google.maps.event.addListener(marker, 'click', function() {
							infowindow.close();
							var contentString = "<div>"+elem[8] + " " + elem[9] + "</div> <div>Link:<a target='_blank' href='" + elem[17][0] + "'>" + elem[17][0] + "</a></div><br><div><a class='btn btn-primary' href='/activity/create?name=" + elem[8] + " " + elem[9] + "'>New Event</a></div>" ;
							infowindow = new google.maps.InfoWindow({
								content: contentString
							});
							infowindow.open(map, marker);
						});
						
						marker.setMap(map);
					}
				});
			  });
			  
			  $.getJSON("{{ STATIC_URL }}json/todos_outdoors.json", function(data) {
				$.each(data.data, function(index, elem) {
					if (getDistanceFromLatLonInKm(centerLat, centerLon, elem[18][1], elem[18][2]) < radius) {
						var latLng = new google.maps.LatLng(elem[18][1], elem[18][2]); 
						// Creating a marker and putting it on the map
						var marker = new google.maps.Marker({
							position: latLng,
							animation: google.maps.Animation.DROP,
							title: elem[10],
							icon: "{{ STATIC_URL }}img/maps_markers/darkgreen_MarkerS.png"
						});
						
						google.maps.event.addListener(marker, 'click', function() {
							infowindow.close();
							if (elem[16][0] == null) {
								var link_str = "";
							} else {
								var link_str = "<div>Link: <a href='"+ elem[16][0]+ "' target='_blank'>" + elem[16][0] + "</a></div>";
							}
							if (elem[16][1] == null) {
								var imgString = "";
							} else {
								var imgString = "<div><img src='" + elem[16][1] + "' ></img></div>";
							}
							var contentString = "<h3>" + elem[10] + "</h3><div>" + elem[11] + "</div>" + imgString + link_str + "<br><div><a class='btn btn-primary' href='/activity/create?name=" + elem[10] + "'>New Event</a></div>";
							infowindow = new google.maps.InfoWindow({
								content: contentString
							});
							infowindow.open(map, marker);
						});
						marker.setMap(map);
					}
				});
			});
		//}
		
		//if (param("type").indexOf("trails") != -1) {
			$.getJSON("{{ STATIC_URL }}json/hikingtrails_100_dedup.json", function(data) {
				$.each(data.features, function(index, elem) {
				if (getDistanceFromLatLonInKm(centerLat, centerLon, elem.geometry.geometries[0].coordinates[1], elem.geometry.geometries[0].coordinates[0]) < radius) {
					var latLng = new google.maps.LatLng(elem.geometry.geometries[0].coordinates[1], elem.geometry.geometries[0].coordinates[0]); 
					// Creating a marker and putting it on the map
					var marker = new google.maps.Marker({
						position: latLng,
						animation: google.maps.Animation.DROP,
						title: toTitleCase(elem.properties.Name),
						icon: "{{ STATIC_URL }}img/maps_markers/brown_MarkerH.png"
					});
					
					google.maps.event.addListener(marker, 'click', function() {
						infowindow2.close();
						var contentString = "<div>" + toTitleCase(elem.properties.Name) + "</div> <br><div><a class='btn btn-primary' href='/activity/create?name=" + toTitleCase(elem.properties.Name) + "'>New Event</a></div>";
						infowindow2 = new google.maps.InfoWindow({
							content: contentString
						});
						infowindow2.open(map2, marker);
					});
					
					marker.setMap(map2);
				}
				});
			});
			
			$.getJSON("{{ STATIC_URL }}json/biketrails_100_dedup.json", function(data) {
				$.each(data.features, function(index, elem) {
				if (getDistanceFromLatLonInKm(centerLat, centerLon, elem.geometry.geometries[0].coordinates[1], elem.geometry.geometries[0].coordinates[0]) < radius) {
					var latLng = new google.maps.LatLng(elem.geometry.geometries[0].coordinates[1], elem.geometry.geometries[0].coordinates[0]); 
					// Creating a marker and putting it on the map
					var marker = new google.maps.Marker({
						position: latLng,
						animation: google.maps.Animation.DROP,
						title: toTitleCase(elem.properties.Name),
						icon: "{{ STATIC_URL }}img/maps_markers/brown_MarkerB.png"
					});
					
					google.maps.event.addListener(marker, 'click', function() {
						infowindow2.close();
						var contentString = "<div>" + toTitleCase(elem.properties.Name) + "</div> <br><div><a class='btn btn-primary' href='/activity/create?name=" + toTitleCase(elem.properties.Name) + "'>New Event</a></div>";
						infowindow2 = new google.maps.InfoWindow({
							content: contentString
						});
						infowindow2.open(map2, marker);
					});
					
					marker.setMap(map2);
				}
				});
			});
		//}
	  }
	
	function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
	  var R = 6371; // Radius of the earth in km
	  var dLat = deg2rad(lat2-lat1);  // deg2rad below
	  var dLon = deg2rad(lon2-lon1); 
	  var a = 
		Math.sin(dLat/2) * Math.sin(dLat/2) +
		Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
		Math.sin(dLon/2) * Math.sin(dLon/2)
		; 
	  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
	  var d = R * c; // Distance in km
	  return d;
	}

	function deg2rad(deg) {
	  return deg * (Math.PI/180)
	}
	
	function param(name) {
		var prmstr = window.location.search.substr(1);
		var prmarr = prmstr.split ("&");
		var params = {};

		for ( var i = 0; i < prmarr.length; i++) {
			var tmparr = prmarr[i].split("=");
			params[tmparr[0]] = tmparr[1];
		}
		return params[name];
	}
	
	function toTitleCase(str){
		return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
	}
    </script>

{% endblock %}

{% block page-header %}
Pick a location
{% endblock %}

{% block content %}
	<div class="row">
		<h3>State Parks/Other Attractions</h3>
		<div id="map-canvas" ></div>
	</div>
	<br /> <br />
	<div class="row">
		<h3>Hiking/Biking Trails</h3>
		<div id="map-canvas2" ></div>
	</div>
{% endblock %}
