{% extends 'base.html' %}

{% block page-header %}
Hello {{ object }}!
{% endblock %}

{% block content %}
<div>
  <h3 style="color:Black;font-variant:small-caps"3>My Groups</h3>
  {% for g in user.groups.all %}
    <h3>{{ g }}</h3>
    {% for u in g.user_set.all %}
      {% if u != object %}
        {{ u }} <small><a>message</a></small>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<div>
  <h3 style="color:Black;font-variant:small-caps">Report Reading</h3>
  
</div>

<!-- div> 
                <a class="btn btn-danger" href="#">            <i class="icon-repeat"></i> Reload</a>
                <a class="btn btn-small" href="#">             <i class="icon-cog"></i></a>
            </div> -->

<div class="btn-group">
  <button href="{% url 'user_detail' %}?type=WGHT" type="button" class="btn btn-info ">Weight</button>
  <button href="{% url 'user_detail' %}?type=HEHT" type="button" class="btn btn-info ">Height</button>
  <button href="{% url 'user_detail' %}?type=BLSG" type="button" class="btn btn-info ">Blood Sugar Level</button>
 <button href="{% url 'user_detail' %}?type=PLSE" type="button" class="btn btn-info ">Blood Pressure</button>
  <button href="{% url 'user_detail' %}?type=BPRS" type="button" class="btn btn-info ">Heart Rate</button>



</div>


<div>
  <h3 style="color:Black;font-variant:small-caps">Plan Group Activity</h3>
  <div >
    <button style=" background-color:green" href="{% url 'user_detail' %}?type=WGHT" type="button" class="btn btn-success ">Find Park</button>
    <button style=" background-color:brown" href="{% url 'user_detail' %}?type=HEHT" type="button" class="btn btn-success ">Find Trail</button>
  </div>
</div>

{% endblock %}
