{% extends 'base.html' %}

{% block page-header %}
<h2 style="color:Black;font-variant:small-caps"3>Hello  {{ object }}! </h2> 
{% endblock %}

{% block content %}
<div>
  <h3 style="color:Black;font-variant:small-caps"3>My Groups</h3>
  {% for g in user.groups.all %}
    <h3>{{ g }}</h3>
    {% for u in g.user_set.all %}
      {% if u != object %}
        {{ u }} <small><a>message</a></small>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<div class="physical_activity">
  <h3>Log Activity</h3>
<form method="post" action="{% url "physical_activity_create" %}">
{% csrf_token %}
<div class="btn-group">
  {% for value,option in physical_form.fields.type.choices %}
    {% if value != "" %}
    <button type="button" class="btn btn-info" id="{{ value }}" onclick="update_physical('{{ value }}')">{{ option }}</button>
    {% endif %}
  {% endfor %}
</div>
  <table>
  <tr><th><label for="id_intensity">Intensity:&nbsp;</label></th><td><input id="id_intensity" name="intensity" step="0.01" type="number" /></td></tr>
<tr><th><label for="id_duration">Duration:</label></th><td><input id="id_duration" name="duration" step="0.01" type="number" /></td></tr>
  </table>

  <button type="submit" class="btn btn-primary">Log!</button>

  <div class="hidden">
  <select id="id_physical_type" name="type">
  <option value="" selected="selected">---------</option>
  <option value="JOG">Jogging</option>
  <option value="RUN">Running</option>
  <option value="SWIM">Swimming</option>
  <option value="CYCL">Cycling</option>
  <option value="YOGA">Yoga</option>
  <option value="SKI">Skiing</option>
  <option value="HUNT">Being Hunted</option>
  </select>
  </div>
</form>
</div>

<div class="reading">
<h3 style="color:Black;font-variant:small-caps">Report Reading</h3>

<div class="btn-group">
  <button href="{% url 'user_detail' %}?type=WGHT" type="button" class="btn btn-info"  id ='WGHT' onclick="display_form('WGHT')" >Weight</button>
  <button href="{% url 'user_detail' %}?type=HEHT" type="button" class="btn btn-info " id = 'HEHT' onclick="display_form('HEHT')" >Height</button>
  <button href="{% url 'user_detail' %}?type=BLSG" type="button" class="btn btn-info " onclick="display_form('BLSG')"  >Blood Sugar Level</button>
 <button href="{% url 'user_detail' %}?type=PLSE" type="button" class="btn btn-info "  id = 'PLSE' onclick="display_form('PLSE')">Heart Rate</button>
  <button href="{% url 'user_detail' %}?type=BPRS" type="button" class="btn btn-info "  onclick="display_form('BPRS')">Systolic Blood Pressure</button>



</div>

<div class=' hide' style="padding:10px" id='wghtDiv'>
  <form method="post" action="{% url "reading_create" %}">
  {% csrf_token %}
  <label for="id_reading">Reading:</label>&nbsp; <input id="id_reading" name="reading" step="0.01" type="number" />
  &nbsp; 
  <button type="submit" class="btn btn-primary">Save Changes</button>
  <div class="hide"><label for="id_type">Type:</label><select id="id_type" name="type">
  
  <option value="" selected="selected">---------</option>
  <option value="WGHT">Weight</option>
  <option value="HEHT">Height</option>
  <option value="BLSG">Blood Sugar</option>
  <option value="PLSE">Pulse</option>
  <option value="BPRS">Blood Pressure</option>
  </select></div>
  </form>
</div>

</div>


<div>
  <h3 style="color:Black;font-variant:small-caps">Plan Group Activity</h3>
  <div >
    <button style=" background-color:#129f1f" href="{% url 'user_detail' %}?type=WGHT" type="button" class="btn btn-success ">Find Park</button>
    <button style=" background-color:#cb9d7c" href="{% url 'user_detail' %}?type=HEHT" type="button" class="btn btn-success ">Find Trail</button>
  </div>
</div>
{% endblock %}

{% block extra-head %}
<script type="text/javascript">

      // $("#Person1").click(function(e) {
      //     e.preventDefault();
      //     $('#badge1').html(parseInt($('#badge1').html(), 10)+1)
      // });

      // $("#Person2").click(function(e) {
      //     e.preventDefault();
      //     $('#badge2').html(parseInt($('#badge2').html(), 10)+1)
      // });

      // $("#Person3").click(function(e) {
      //     e.preventDefault();
      //     $('#badge3').html(parseInt($('#badge3').html(), 10)+1)
      // });

      function display_form(type) {
      console.log("here1");
        $("#wghtDiv").removeClass('hide').addClass('show');
        $("#id_type").val(type);
      }

      function update_physical(type) {
        $("#id_physical_type").val(type);
      }
  </script>

  <style>
    h3 {
      color:Black;font-variant:small-caps;
    }
  </style>


{% endblock %}
