{% extends 'base.html' %}

{% block page-header %}
My Home
<br />
{% endblock %}

{% block content %}

<div class="page-header"><h1>To login, go to <a href="/admin/">the admin page</a>, login as "uberfish" with the password "c". Then return to this page and explore.</h1></div>

{% if user.is_authenticated %}
      <div class="row">
        
        <div class="col-lg-7 col-md-7">
          <a href="#"><img class="img-responsive" style="height: 300px; width: 700px;" src="{{ STATIC_URL }}img/weight_graph.png"></a>
        </div>

        <div class="col-lg-5 col-md-5">
          <h3>Your Weight Progress</h3>
          <p>In the past month, you've made progress on your weight! See your progress above.</p>
          <a class="btn btn-danger" href="{% url 'user_vidualize' pk=user.id %}">See My Progress<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

      </div>

      <hr>

      <div class="row">
        
        <div class="col-lg-7 col-md-7">
          <a href="#"><img class="img-responsive" src="{{ STATIC_URL }}img/last_event.png"></a>
        </div>

        <div class="col-lg-5 col-md-5">
          <h3>Your Last Event</h3>
          <h4>Pineridge Cross Country Ski Area</h4>
          <p>Your last group activity was at the Pineridge Cross Country Ski Area, in Petersburgh. It looked awesome to us!</p>
          <a class="btn btn-danger" onclick="window.location.href='{% url 'activity_locator' %}?type=trails,parks&zip=12180'">Plan another <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

      </div>

      <hr>

      <div class="row">
        
        <div class="col-lg-7 col-md-7">
          <a href="#"><img class="img-responsive" style="height: 300px; width: 700px;" src="{{ STATIC_URL }}img/group_next.png"></a>
        </div>

        <div class="col-lg-5 col-md-5">
          <h3>Upcoming activities</h3>
          <p>You've got 4 activities coming up with Fitness Fanatics. Way to go!</p>
          <a class="btn btn-danger" href="{% url 'user_detail' %}">All my Activities<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

      </div>

  <!--     <div class="row text-center">
        
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>

      </div> -->
{% endif %}
      <hr>
      
{% endblock %}
